[Unit]
Description=Custom service just to kill teamviewer before shutdown or reboot
After=teamviewerd.service

[Service]
ExecStop=/usr/bin/killall teamviewerd
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
